.headerStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
  
.titleStyle {
    align-items: center
  };
  
.imageStyle {
    object-fit: contain;
  };

.titleImage {
    width: 500px;
    height: 500px;
    margin: 150px;
}